.navbar{
    margin-bottom: 0px;
    border-radius: 0;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    width: max-content;
}

.offcanvas.offcanvas-start{width: 300px;}

.custom-alert{width: auto;position: absolute;right: 5px;text-align: left;font-size: 20px;}
.custom-alert .closebtn{float: right;font-size: 25px;text-align: right;padding-left: 10px;cursor: pointer;color: red;}

.offcanvas .offcanvas-body .nav-pills .nav-item{width: 100%;}
.offcanvas .offcanvas-body .nav-pills .nav-item:hover{background: #f2f2f2;}


#bannerImage{
    padding-top:75px;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align:center;
    color:#f8f8f8;
    background:url(../img/intro-bg_2.jpg);
    background-size:cover;
}

#bannerContent{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    margin-top:12%;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.7);
    max-width:890px;
}

.product-sec .seeding-thumbnail img{
    width: 90%;
    height: 180px;    
}

.bloom{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.bloom .bloom-content{
    width: max-content;
    padding: 15px;
    border: 2px solid #8080805e;
    font-weight: bold;
}

.content-gap{
    width: 100%;
    float: left;
    padding: 75px 0;
}

.aboutus{
    width: 100%;
    float: left;
}

.aboutus .aboutus-content, .buyus .buyus-content {
    font-size: 16px;
}

.buyus{
    width: 100%;
    float: left;
}

footer{
    background-color:#101010;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    bottom:0;
}

footer .sign-up-sec{
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer .sign-up-sec a{
    color: unset;
}

footer .shop-now{
    padding-top: 10px;
}

html { 
    min-height:100%;
    position:relative;    
} 

.footer { 
    position: absolute; 
    bottom:0; 
    right:0;
    left:0;
}

/* Signup page CSS */
.signup-page{margin-top: 20px;}
.signup-page .signup-sec {display: flex;align-items: center;justify-content: center;}
.signup-page .signup-sec .signup-form-sec{width: 50%;}
.signup-page .signup-sec .signup-form-sec form{display: grid;gap: 8px;}

/* Login page CSS */
.login-page{margin-top: 20px;}
.login-page .login-sec {display: flex;align-items: center;justify-content: center;}
.login-page .login-sec .login-sec-form{width: 50%;}
.login-page .login-sec .login-sec-form form{display: grid;gap: 8px;}


/* Shopping page CSS */
.shoping-page{margin-top: 20px;}
.shoping-page .shop-sec{height:1105px;overflow-y: scroll;}
.shoping-page .shop-sec .row .thumbnail img{width: 100% !important;height: 180px;}
.shoping-page .prod-desc{height: 100px;overflow: scroll;text-align: left;}

.cart-page {width: 100%;height: calc(100vh - 206px);overflow: scroll;}

/* Password page CSS */
.settings-page {margin-top: 20px;}
.settings-page .settings-sec{display: flex;align-items: center;justify-content: center;}
.settings-page .settings-sec .settings-sec-form{width: 50%;}
.settings-page .settings-sec .settings-sec-form form{display: grid;gap: 8px;}

/* Sell page CSS */
.sell-page {margin-top: 20px;}
.sell-page .sell-sec{display: flex;align-items: center;justify-content: center;}
.sell-page .sell-sec .sell-form-sec{width: 50%;}
.sell-page .sell-sec .sell-form-sec form{display: grid;gap: 8px;}

@media (min-width:320px){
    #autoResize{
        font-size:12px;
    }
}
@media (min-width:481px){
    #autoResize{
        font-size:16px;
    }
}
@media (min-width:641px){
    #autoResize{
        font-size:18px;
    }
}
@media (min-width:961px){
    #autoResize{
        font-size:20px;
    }
}
@media (min-width:1000px){
    #autoResize{
        font-size:26px;
    }
}
